body {
    background-color: #f3e5f5;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    color: #8e24aa;
    font-size: 2rem;
}

#info {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #6a1b9a;
}
